{% extends "blog/_base.html"%}
{% load markup %}

{% block content_header %}
{% endblock %}

{% block content %}

<div class="space"></div>
{% for entry in entries %}
  <div class="section">
    <div class="title">
      <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
    </div> <!-- .title -->
    {{ entry.snip|markdown }} <br />
    <a class="more" href='{{ entry.get_absolute_url }}'>read more&hellip;</a> <br />
    <hr />
  </div> <!-- section -->
{%endfor%}


<div class="clear"></div>

{% endblock %} {# content #}

{% block rightcontent %}
<h4>Articles</h4>

  <ul>
    {% for entry in entries %}
      <li>
        <a href="{{ entry.get_absolute_url }}"> {{ entry.title }} </a>
        <span>0{{ entry.pub_date|date:"Y-m-d" }}  </span>
        <hr/>
      </li>
    {% endfor %}
  </ul>
  <br />
  <br />
  <br />
  SPACE
  <br />
{% endblock %} {# rightcontent #}
