{% extends "_post.html" %}

{%load webdesign %}

{%hyde
  title: Something I tried and failed, Linux console fonts
  created: 2011-05-31 15:28:29 
%}

{% block article %}

{% article %}
{% excerpt %}
I've never questioned how fonts were rendered when Linux fails.  When X11 and video drivers don't work, you get dumped into a very low-level text interface called a Virtual Teriminal (this is also the case before X11 finishes booting).  I had some driver issues recently with my nVidia Optimus chipset on my laptop, and ended up in this low-level terminal many times.

The font rendering there is pretty ugly to me.  Especially when you consider Ubuntu's new Monospace font for terminals (now in beta).  

{%endexcerpt%}

<a class="out" rel="friend" href="https://github.com/mpevner"MaxPev</a> was recently attempting


<a class="out" href="http://news.ycombinator.com">HackerNews</a> has an article today about <a class="out" href="http://www.pixelqi.com/">Pixel Qi</a>. Pixel Qi is the company that <a class="olpc" href="http://one.laptop.org">One Laptop per Child</a> alum Mary Lou Jepsen founded to market the <span color="#005fe4">X</span><span color="#ac32ff">O</span>s wonderful high contrast screen. 

Mike Cane writes that Pixel Qi has <a class="out" href="mikecanex.wordpress.com/2011/05/31/pixel-qi-bombshell-three-million-screens-shipped/">shipped over 3 million screens</a>!! And goes on to express considerably surprise that there are so many units in the field.  Well, what Mike doesn't realize is that Pixel Qi is very likely counting the 2.4 million XOs that <a class="olpc" href="http://one.laptop.org">OLPC</a> has produced. That brings Pixel Qi sales outside of the OLPC realm to only ~600k&plusmn;100k. Not great, but not bad.

I still have nothing but the utmost respect for Mary Lou Jepsen, and honestly believe her screen technology is going to change the way we use computers, and by extension the way the way work happens in the industrialized world.

{%endarticle%}

{% endblock %}
